<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="site-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; 2016 <a href="/" title="lidy个人主页">lidy个人主页</a> - 路曼曼其修远兮，吾将上下而求索。</p>
                    <p>备案号 | <a href="http://www.miitbeian.gov.cn/">赣ICP备16008490号-1</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    document.getElementById('main_loading').style.display='none';
</script>
<script src="/dist/js/vendor.dll.js"></script>
<script src="/dist/js/common.js"></script>