<header id="masthead" class="site-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top">
          <div class="site-branding">
            <h1 class="site-title logo">
              <a id="blogname" rel="home" href="/" title="<%= title %>"><%= title %></a></h1>
          </div>
          <div class="nav-switch"><i class="fa fa-bars"></i> <i class="fa fa-times"></i></div>
        </div>
        <nav id="site-navigation" class="main-navigation" role="navigation">
        </nav>
        <header class="page-header">
          <h1>lidy的个人主页</h1>
        </header>
      </div>
    </div>
  </div>
  <canvas id="waveCanvas"></canvas>
</header>