<style>
    #masthead {
        height: 530px;
    }
</style>

<div id="page" class="site m-header">

</div>

<script src="/dist/js/vendor.dll.js"></script>
<script src="/dist/js/pages/index.js"></script>