<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="lidy个人博客，lidy个人主页，lidy个人简历，前端技术博客，个人主页心情-学习-技术">
    <meta name="keywords" content="lidy个人博客，lidy个人主页，lidy个人简历，前端技术博客">
    <meta name="viewport"
          content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title><%= title %></title>
    <link rel='stylesheet' id='boostrap-grid-css' href='/assets/dist/css/bootstrap-grid.css' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='fontawesome-css' href='/assets/dist/css/font-awesome.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='animate-css' href='/assets/dist/css/animate.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='theme-css' href='/assets/dist/css/theme.css' type='text/css' media='all'/>
    <meta name="baidu-site-verification" content="0BasK8NTEP" />
</head>
<body class="home blog hfeed">
<!-- loading -->
<div id="main_loading">
    <p id="loading-one">载入中</p>
</div>
<!--右侧导航-->
<div class="stmenu">
    <nav id="site-navigation" class="sidebar-navigation" role="navigation">
        <div id="primary-menu" class="menu">
            <ul>
                <li class="page_item page-item-2"><h2 class=""><%= title %></h2></li>
            </ul>
        </div>
    </nav>
    <!--搜索-文章列表-->
    <aside id="secondary" class="widget-area" role="complementary">
        <section id="search-2" class="widget widget_search">
            <form role="search" method="get" class="search-form" action="/search">
                <label>
                    <input type="search" class="search-field" placeholder="搜索&hellip;" value="" name="keyword"/>
                </label>
                <input type="submit" class="search-submit" value="搜索"/>
            </form>
        </section>
        <section id="recent-posts-2" class="widget widget_recent_entries"><h2 class="widget-title">近期文章</h2>
            <ul>
            </ul>
        </section>
        <section id="recent-comments-2" class="widget widget_recent_comments"><h2 class="widget-title">近期评论</h2>
            <ul id="recentcomments">
            </ul>
        </section>
        <section id="categories-2" class="widget widget_categories"><h2 class="widget-title">分类目录</h2>
            <ul>
                <li class="cat-item cat-item-1">
                    <a href="/u/sort/心情">心情</a>
                    <a href="/u/sort/技术">技术</a>
                    <a href="/u/sort/学习">学习</a>
                    <a href="/archive">存档</a>
                </li>
            </ul>
        </section>
        <section id="meta-2" class="widget widget_meta">
            <h2 class="widget-title">
                工具箱
            </h2>
            <ul>
                <li><a target="_blank" href="http://jquery.lideyang.net">jquery参考手册</a></li>
                <li><a target="_blank" href="http://www1.w3cfuns.com/tools.php?mod=compression">js/css压缩</a></li>
                <li><a target="_blank" href="http://www1.w3cfuns.com/tools.php?mod=regex">正则调试</a></li>
                <li><a target="_blank" href="http://www.css88.com/book/css/">css3手册</a></li>
                <li><a target="_blank" href="http://www.iconfont.cn/">矢量图标库</a></li>
            </ul>
        </section>
        <section id="meta-2" class="widget widget_meta">
            <h2 class="widget-title">
                案例
            </h2>
            <ul>
                <li><a target="_blank" href="http://zc.lideyang.net">众筹h5</a></li>
            </ul>
        </section>
    </aside>
</div>
<!--内容开始-->
<%- body %>
</body>
</html>