<link rel="stylesheet" href="/dist/css/pages/home.css"/>
<!--首页开始-->
<div id="root" class="site m-header"><%-react%></div>
<!--底部开始-->
<% include footer.ejs %>
<script src="/dist/js/pages/home.js"></script>