<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="lidy个人博客，lidy个人主页，lidy个人简历，前端技术博客，个人主页心情-学习-技术">
    <meta name="keywords" content="lidy个人博客，lidy个人主页，lidy个人简历，前端技术博客">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/css/base.css'/>
    <meta name="baidu-site-verification" content="0BasK8NTEP"/>
    <script>
        window.initialState = <%- initialState %>;
    </script>
</head>
<body class="home blog hfeed">
<div id="main_loading"><p id="loading-one">载入中</p></div><%- body %>
</body>
</html>